<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>

<body>
    <form action="/login/reg" method="post">
        <b>Login: </b><br>
        <input type="text" name="login"><br>
        <b>Password: </b><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Log in">
    </form>
    <a href="/registr">registration</a>
</body>

</html>